[Unit]
Description=Restaurant_abh server

[Service]
User=vagrant
ExecStart="/vagrant/target/universal/stage/bin/restaurant_abh"
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
